<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txwx.social.crm.mapper.TxwxPermanentMaterialImageMapper">
    <resultMap type="com.txwx.social.crm.domain.po.TxwxPermanentMaterialImagePO" id="TxwxPermanentMaterialImageResult">
        <result property="id"         column="id"         />
        <result property="mediaId"    column="media_id"    />
        <result property="name"       column="name"       />
        <result property="url"        column="url"        />
        <result property="sourceUrl"  column="source_url"  />
        <result property="delFlag"    column="del_flag"   />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="savedBy"    column="saved_by"    />
        <result property="savedTime"    column="saved_time"    />
        <result property="publishedBy"    column="published_by"    />
        <result property="publishedTime"    column="published_time"    />
        <result property="remark"    column="remark"    />
        <result property="accountId"    column="account_id"    />
    </resultMap>

    <resultMap type="com.txwx.social.crm.domain.vo.WebChatMaterialPermanentVO" id="WebChatPermanentMaterialImageVOResult">
        <result property="mediaId"    column="media_id"    />
        <result property="name"       column="name"       />
        <result property="updateTime" column="update_time" />
        <result property="url"        column="url"        />
        <result property="sourceUrl"  column="source_url"  />
        <result property="accountId"        column="account_id"        />
    </resultMap>

    <sql id="selectPermanentMaterialImageVo">
        select id, media_id, name, url, source_url, create_time, create_by, del_flag, account_id
        from txwx_permanent_material_image
        where del_flag = '0'
    </sql>


    <!-- 分页查询图文消息图片列表 -->
    <select id="selectPermanentMaterialImageListByPage" resultMap="WebChatPermanentMaterialImageVOResult">
        <include refid="selectPermanentMaterialImageVo"/>
        <if test="accountIds != null and accountIds.size() > 0">
            AND account_id IN
            <foreach collection="accountIds" item="accountId"
                     open="(" separator="," close=")">
                #{accountId}
            </foreach>
        </if>
        <!-- 如果不希望列表为空时返回所有记录，可以添加一个永远不会成立的WHERE条件 -->
        <if test="accountIds == null or accountIds.size() == 0">
            AND 1 = 0
        </if>
        order by create_time desc
        limit #{offset}, #{limit}
    </select>

    <!-- 查询图文消息图片总数 -->
    <select id="selectPermanentMaterialImageTotalCount" resultType="int">
        select count(1)
        from txwx_permanent_material_image
        where del_flag = '0'
        <if test="accountIds != null and accountIds.size() > 0">
            AND account_id IN
            <foreach collection="accountIds" item="accountId"
                     open="(" separator="," close=")">
                #{accountId}
            </foreach>
        </if>
        <!-- 如果不希望列表为空时返回所有记录，可以添加一个永远不会成立的WHERE条件 -->
        <if test="accountIds == null or accountIds.size() == 0">
            AND 1 = 0
        </if>
    </select>

    <!-- 插入图文消息图片 -->
    <insert id="insertPermanentMaterialImage" parameterType="com.txwx.social.crm.domain.po.TxwxPermanentMaterialImagePO" useGeneratedKeys="true" keyProperty="id">
        insert into txwx_permanent_material_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mediaId != null and mediaId != ''">media_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="sourceUrl != null and sourceUrl != ''">source_url,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="accountId != null and accountId != ''">account_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mediaId != null and mediaId != ''">#{mediaId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="sourceUrl != null and sourceUrl != ''">#{sourceUrl},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="accountId != null and accountId != ''">#{accountId},</if>
        </trim>
    </insert>

    <!-- 根据mediaId删除图文消息图片(逻辑删除) -->
    <update id="deletePermanentMaterialImage">
        update txwx_permanent_material_image set del_flag = '1'
        where media_id = #{mediaId}
    </update>

    <select id="selectPermanentMaterialImageByMediaId" resultMap="TxwxPermanentMaterialImageResult">
        <include refid="selectPermanentMaterialImageVo"/>
        <if test="mediaId != null and mediaId != ''">
            AND media_id = #{mediaId}
        </if>
    </select>

    <select id="selectPermanentMaterialImageBySourceUrl" resultMap="TxwxPermanentMaterialImageResult">
        <include refid="selectPermanentMaterialImageVo"/>
        AND source_url = #{sourceUrl}
        AND account_id = #{accountId}
        limit 1
    </select>

</mapper>
