/ruoyi-api/ruoyi-api-system/target/
/ruoyi-auth/target/
/ruoyi-common/ruoyi-common-clickhouse/target/
/ruoyi-gateway/target/
/ruoyi-common/ruoyi-common-core/target/
/ruoyi-common/ruoyi-common-core/${project.build.directory}/
/ruoyi-common/ruoyi-common-datascope/target/
/ruoyi-common/ruoyi-common-datasource/target/
/ruoyi-common/ruoyi-common-http/${project.build.directory}/
/ruoyi-common/ruoyi-common-http/target/
/ruoyi-common/ruoyi-common-log/target/
/ruoyi-common/ruoyi-common-redis/target/
/ruoyi-common/ruoyi-common-redis/ruoyi-common-redis.iml
/ruoyi-common/ruoyi-common-redis/${project.build.directory}/
/ruoyi-common/ruoyi-common-security/${project.build.directory}/
/ruoyi-common/ruoyi-common-security/target/
/ruoyi-common/ruoyi-common-security/ruoyi-common-security.iml
/ruoyi-common/ruoyi-common-swagger/target/
/ruoyi-modules/ruoyi-file/target/
/ruoyi-modules/ruoyi-file/ruoyi-modules-file.iml
/ruoyi-modules/ruoyi-gen/target/
/ruoyi-modules/ruoyi-job/target/
/ruoyi-modules/ruoyi-system/target/
/ruoyi-modules/txwx-social-api/target/
/ruoyi-modules/txwx-social-api/${project.build.directory}/
/ruoyi-modules/txwx-social-api/txwx-social-api.iml
/ruoyi-modules/txwx-social-crm/${project.build.directory}/
/ruoyi-modules/txwx-social-crm/txwx-social-crm.iml
/ruoyi-modules/txwx-social-crm/target/
/doc/
/.vscode/
/.idea/
/.vscode/
/.claude/
/ruoyi-modules/txwx-website/target/
*.log
*.DS_Store
*.env
**/target/
/ruoyi-visual/ruoyi-monitor/target/
/ruoyi-modules/txwx-website/target/
/开源前核查清单.md
