<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txwx.web.mapper.TxwxCompanyProfileMapper">
    
    <resultMap type="TxwxCompanyProfile" id="CompanyProfileResult">
        <result property="id"    column="id"    />
        <result property="profileOne"    column="profile_one"    />
		<result property="profileTwo"    column="profile_two"    />
		<result property="profileThree"    column="profile_three"    />
        <result property="profileFour"    column="profile_four"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="savedBy"    column="saved_by"    />
        <result property="savedTime"    column="saved_time"    />
        <result property="publishedBy"    column="published_by"    />
        <result property="publishedTime"    column="published_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCompanyProfileVo">
        select id, profile_one, profile_two, profile_three, profile_four, create_by, create_time, update_by, update_time, saved_by, saved_time, published_by, published_time, remark from txwx_company_profile
    </sql>

    <select id="selectCompanyProfileById" parameterType="Long" resultMap="CompanyProfileResult">
        <include refid="selectCompanyProfileVo"/>
        where id = #{id}
    </select>
    
    <select id="selectCompanyProfile" resultMap="CompanyProfileResult">
        <include refid="selectCompanyProfileVo"/>
        limit 1
    </select>
        
    <insert id="insertCompanyProfile" parameterType="TxwxCompanyProfile" useGeneratedKeys="true" keyProperty="id">
        insert into txwx_company_profile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="profileOne != null">profile_one,</if>
			<if test="profileTwo != null">profile_two,</if>
			<if test="profileThree != null">profile_three,</if>
            <if test="profileFour != null">profile_four,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="savedBy != null">saved_by,</if>
            <if test="savedTime != null">saved_time,</if>
            <if test="publishedBy != null">published_by,</if>
            <if test="publishedTime != null">published_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="profileOne != null">#{profileOne},</if>
			<if test="profileTwo != null">#{profileTwo},</if>
			<if test="profileThree != null">#{profileThree},</if>
            <if test="profileFour != null">#{profileFour},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="savedBy != null">#{savedBy},</if>
            <if test="savedTime != null">#{savedTime},</if>
            <if test="publishedBy != null">#{publishedBy},</if>
            <if test="publishedTime != null">#{publishedTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCompanyProfile" parameterType="TxwxCompanyProfile">
        update txwx_company_profile
        <trim prefix="SET" suffixOverrides=",">
            <if test="profileOne != null">profile_one = #{profileOne},</if>
			<if test="profileTwo != null">profile_two = #{profileTwo},</if>
			<if test="profileThree != null">profile_three = #{profileThree},</if>
            <if test="profileFour != null">profile_four = #{profileFour},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="savedBy != null">saved_by = #{savedBy},</if>
            <if test="savedTime != null">saved_time = #{savedTime},</if>
            <if test="publishedBy != null">published_by = #{publishedBy},</if>
            <if test="publishedTime != null">published_time = #{publishedTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCompanyProfileById" parameterType="Long">
        delete from txwx_company_profile where id = #{id}
    </delete>

    <delete id="clearCompanyProfile">
        truncate table txwx_company_profile
    </delete>

    <update id="updateByAndTime">
        update txwx_company_profile
        <trim prefix="SET" suffixOverrides=",">
            <if test="publishedBy != null">published_by = #{publishedBy},</if>
            <if test="publishedTime != null">published_time = #{publishedTime},</if>
        </trim>
    </update>

</mapper>