<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txwx.web.mapper.TxwxTypicalCustomerMapper">
    
    <resultMap type="TxwxTypicalCustomer" id="TypicalCustomerResult">
        <result property="customerId"    column="customer_id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="isShow"    column="is_show"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="jumpUrl"    column="jump_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="savedBy"    column="saved_by"    />
        <result property="savedTime"    column="saved_time"    />
        <result property="publishedBy"    column="published_by"    />
        <result property="publishedTime"    column="published_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTypicalCustomerVo">
        select customer_id, customer_name, image_url, is_show, sort_order, jump_url, create_by, create_time, update_by, update_time, saved_by, saved_time, published_by, published_time, remark from txwx_typical_customer
    </sql>

    <select id="selectTypicalCustomerList" parameterType="TxwxTypicalCustomer" resultMap="TypicalCustomerResult">
        <include refid="selectTypicalCustomerVo"/>
        <where>  
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url like concat('%', #{imageUrl}, '%')</if>
            <if test="isShow != null  and isShow != ''"> and is_show = #{isShow}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="jumpUrl != null  and jumpUrl != ''"> and jump_url like concat('%', #{jumpUrl}, '%')</if>
        </where>
        order by sort_order asc, create_time desc
    </select>
    
    <select id="selectTypicalCustomerByCustomerId" parameterType="Long" resultMap="TypicalCustomerResult">
        <include refid="selectTypicalCustomerVo"/>
        where customer_id = #{customerId}
    </select>

    <select id="selectShowTypicalCustomerList" parameterType="String" resultMap="TypicalCustomerResult">
        <include refid="selectTypicalCustomerVo"/>
        where is_show = #{isShow}
        order by sort_order asc, create_time desc
    </select>
        
    <insert id="insertTypicalCustomer" parameterType="TxwxTypicalCustomer" useGeneratedKeys="true" keyProperty="customerId">
        insert into txwx_typical_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerName != null">customer_name,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="isShow != null and isShow != ''">is_show,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="jumpUrl != null">jump_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="savedBy != null">saved_by,</if>
            <if test="savedTime != null">saved_time,</if>
            <if test="publishedBy != null">published_by,</if>
            <if test="publishedTime != null">published_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerName != null">#{customerName},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="isShow != null and isShow != ''">#{isShow},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="jumpUrl != null">#{jumpUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="savedBy != null">#{savedBy},</if>
            <if test="savedTime != null">#{savedTime},</if>
            <if test="publishedBy != null">#{publishedBy},</if>
            <if test="publishedTime != null">#{publishedTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTypicalCustomer" parameterType="TxwxTypicalCustomer">
        update txwx_typical_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="isShow != null and isShow != ''">is_show = #{isShow},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="jumpUrl != null">jump_url = #{jumpUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="savedBy != null">saved_by = #{savedBy},</if>
            <if test="savedTime != null">saved_time = #{savedTime},</if>
            <if test="publishedBy != null">published_by = #{publishedBy},</if>
            <if test="publishedTime != null">published_time = #{publishedTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where customer_id = #{customerId}
    </update>

    <delete id="deleteTypicalCustomerByCustomerId" parameterType="Long">
        delete from txwx_typical_customer where customer_id = #{customerId}
    </delete>

    <delete id="deleteTypicalCustomerByCustomerIds" parameterType="String">
        delete from txwx_typical_customer where customer_id in
        <foreach item="customerId" collection="array" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>

    <select id="getMaxSortOrder" resultType="Integer">
        select COALESCE(max(sort_order), 0) from txwx_typical_customer
    </select>

    <update id="updateCustomerSort">
        update txwx_typical_customer set sort_order = #{sortOrder} where customer_id = #{customerId}
    </update>

    <update id="updateByAndTime">
        update txwx_typical_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="publishedBy != null">published_by = #{publishedBy},</if>
            <if test="publishedTime != null">published_time = #{publishedTime},</if>
        </trim>
    </update>

    <delete id="clearTypicalCustomer">
        truncate table txwx_typical_customer
    </delete>
</mapper>